{% extends 'base.html' %}

{% block title %}SchoolTracker - Diário de Bordo{% endblock %}
{% block body_class %}body-home{% endblock %}

{% block content %}
<div class="container espacamento">
    <div class="row justify-content-center align-items-center" style="height: 85vh;">
        <div class="col-md-6 caixa-forms">
            <h3 class="text-center">Digite o seu RA</h3>
            {% if mensagem %}
                <h6 class="text-danger text-center">{{ mensagem }}</h6>
            {% endif %}
            <form method="POST" action="">
                <div class="mb-3 d-flex justify-content-center align-items-center input-home">  <!-- Centraliza a linha -->
                    <input type="text" class="form-control me-2" id="ra" name="ra" required style="width: 50%;"> <!-- Ajuste de largura -->
                    <button type="submit" class="btn btn-primary">Entrar</button> <!-- Botão na mesma linha -->
                </div>
            </form>
            <div class="text-center">
                <small>Ainda não é cadastrado? <a href="{{ url_for('cadastro') }}">Cadastre-se.</a></small> <!-- Texto menor -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
