{% extends 'base.html' %}

{% block title %}SchoolTracker - Quem Somos?{% endblock %}
{% block body_class %}body-quem-somos{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="margin-top:12%; margin-bottom: 60px;">
        <div class="col-md-10 caixa-quem">
            <h2 class="text-center">Quem Somos?</h2>
            <p>No <strong>SchoolTracker</strong>, acreditamos que cada dia de aula é uma oportunidade única de aprendizado e reflexão. Somos uma equipe dedicada a facilitar a expressão e o desenvolvimento dos alunos, proporcionando um espaço seguro e intuitivo para que eles registrem suas experiências diárias.</p>
            <p>Nosso sistema de diário de bordo permite que os estudantes compartilhem suas histórias, desafios e conquistas, promovendo uma cultura de autoconhecimento e aprendizado contínuo. Através da escrita, incentivamos os alunos a refletirem sobre suas aulas, a identificarem o que aprenderam e a se prepararem para o futuro.</p>
            <p>Estamos comprometidos em oferecer uma plataforma acessível e eficiente, que valoriza a voz de cada aluno. Junte-se a nós e faça parte dessa jornada de aprendizado e crescimento!</p>        
            <br>    
        </div>
    </div>
</div>
{% endblock %}

